{% extends 'base.html' %}
{% block title %}Оформление заказа{% endblock %}

{% block content %}
<h1>Оформление заказа</h1>

{% if cart_items %}
  <div style="display:flex; flex-direction:column; gap:10px;">
    {% for item in cart_items %}
      <div style="border:1px solid #ccc; padding:10px; border-radius:6px; display:flex; justify-content:space-between; align-items:center;">
        <div>
          <a href="{% url 'catalog:product_detail' item.product.slug %}">{{ item.product.name }}</a>
          <br>
          {{ item.product.price }} тг × {{ item.quantity }} = {{ item.item_total }} тг
        </div>
      </div>
    {% endfor %}
  </div>

  <div style="margin-top:20px; font-weight:bold;">
    <p>Итоговая сумма: {{ total_sum }} тг</p>
  </div>

  <form method="post" style="margin-top:20px;">
    {% csrf_token %}
    <button type="submit" style="padding:10px 20px; background:#007bff; color:white; border:none; border-radius:4px;">Оформить заказ</button>
  </form>
{% else %}
  <p>Корзина пуста.</p>
{% endif %}

<p><a href="{% url 'catalog:cart_detail' %}">← Вернуться в корзину</a></p>
{% endblock %}