{% extends 'base.html' %}
{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<h1>{{ product.name }}</h1>

{% if product.stock > 0 %}
  <div style="display:inline-block;padding:6px 10px;border-radius:8px;background:#d4edda;color:#155724;">
    В наличии: {{ product.stock }}
  </div>
  <br><br>
  <a href="{% url 'catalog:add_to_cart' product.id %}" style="display:inline-block; padding:10px 20px; background:#007bff; color:white; text-decoration:none; border-radius:5px;">Добавить в корзину</a>
{% else %}
  <div style="display:inline-block;padding:6px 10px;border-radius:8px;background:#f8d7da;color:#721c24;">
    Нет в наличии
  </div>
{% endif %}

<p>{{ product.description }}</p>

<p>
  {% if product.old_price and product.old_price > product.price %}
    <span style="text-decoration:line-through; opacity:0.7;">{{ product.old_price }} тг</span>
    <span style="font-weight:700; font-size:18px; margin-left:8px;">{{ product.price }} тг</span>
  {% else %}
    <span style="font-weight:700; font-size:18px;">{{ product.price }} тг</span>
  {% endif %}
</p>

<h3>Фото</h3>

{% if product.images.all %}
  <div style="display:flex; gap:10px; flex-wrap:wrap;">
    {% for img in product.images.all %}
      <a href="{{ img.image.url }}" target="_blank">
        <img src="{{ img.image.url }}" alt="{{ img.alt_text }}" style="width:140px;height:140px;object-fit:cover;border-radius:10px;">
      </a>
    {% endfor %}
  </div>
{% else %}
  <p>Фото пока нет.</p>
{% endif %}

<p><a href="{% url 'catalog:product_list_by_category' product.category.slug %}">← Назад в категорию</a></p>
{% endblock %}
